body {
    background-color: black;
}

.container {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 90% 10%;
    max-width: 77rem;
    height: 30rem;
    margin: 0 auto;
    padding: 3rem;
    gap: 2rem;
}

.container input {
    display: none;
}

.slides-container {
    grid-column: 1/3;
    border: 1px solid wheat;
}

.slide {
    display: none;
    width: 100%;
    height: 100%;
    background-blend-mode: luminosity;
    box-shadow: 0px 0px 30px 1px wheat inset;
    text-align: center;
}

.slide img {
    height: 100%;
}

.slide1 {
    background: rgba(255, 255, 255, .9) center / cover no-repeat url(./assets/img/1.jpg);
}

.slide2 {
    background: rgba(255, 255, 255, .9) center / cover no-repeat url(./assets/img/2.jpg);
}

.slide3 {
    background: rgba(255, 255, 255, .9) center / cover no-repeat url(./assets/img/3.jpg);
}

.slide4 {
    background: rgba(255, 255, 255, .9) center / cover no-repeat url(./assets/img/4.jpg);
}

.slide5 {
    background: rgba(255, 255, 255, .9) center / cover no-repeat url(./assets/img/5.jpg);
}

.text {
    display: none;
    color: wheat;
    font-size: 1.5rem;
}

.controls {
    display: flex;
    gap: 1rem;
    justify-content: end;
}

label {
    display: flex;
    width: 2rem;
    height: 2rem;
    align-items: center;
    cursor: pointer;
}

.label-circle {
    height: 1rem;
    width: 1rem;
    margin: 0 auto;
    border: 2px solid wheat;
    border-radius: 50%;
    transition: all ease-in-out .3s;
}

.controls label:hover .label-circle {
    transform: scale(1.4);
}

#slide1:checked~.controls label:nth-of-type(1) .label-circle,
#slide2:checked~.controls label:nth-of-type(2) .label-circle,
#slide3:checked~.controls label:nth-of-type(3) .label-circle,
#slide4:checked~.controls label:nth-of-type(4) .label-circle,
#slide5:checked~.controls label:nth-of-type(5) .label-circle {
    background: wheat;
}

#slide1:checked~.text-container .text:nth-of-type(1),
#slide1:checked~.slides-container .slide:nth-of-type(1),
#slide2:checked~.text-container .text:nth-of-type(2),
#slide2:checked~.slides-container .slide:nth-of-type(2),
#slide3:checked~.text-container .text:nth-of-type(3),
#slide3:checked~.slides-container .slide:nth-of-type(3),
#slide4:checked~.text-container .text:nth-of-type(4),
#slide4:checked~.slides-container .slide:nth-of-type(4),
#slide5:checked~.text-container .text:nth-of-type(5),
#slide5:checked~.slides-container .slide:nth-of-type(5) {
    display: block;
}